/* 全体の共通のcss */
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

.ENTIRE_DIV {
	padding-left: 4%;
	padding-right: 6%;
}

.COLOR_POSITION {
	padding-top: 10%;
	height: 110vh;
	/* background-color: #faebd7; */
}

.orangeWrapIcon {
	font-size: 4rem !important;

	/* Small Devices, sp
	@media only screen and (max-width: 560px) {
		font-size: 2rem !important;
	}

	/* Medium Devices, Desktops */
	/* @media only screen and (max-width: 768px) {
		font-size: 2rem !important;
	} */
}

/* min-width: 561px) and (max-width: 1024px) { */
